<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehualu.data.business.addr.dao.AddrInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ehualu.data.business.addr.model.AddrInfo" >
    <result column="addr_id" property="addrId" jdbcType="CHAR" />
    <result column="town_code" property="townCode" jdbcType="VARCHAR" />
    <result column="committee_code" property="committeeCode" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="house_name" property="houseName" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="addr_name" property="addrName" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    addr_id, town_code, committee_code, area_code, house_name, create_user_id, create_time, 
    update_user_id, update_time, addr_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ehualu.data.business.addr.model.AddrInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_addr_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ehualu.data.business.addr.model.AddrInfoExample" >
    delete from t_addr_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ehualu.data.business.addr.model.AddrInfo" >
    insert into t_addr_info (addr_id, town_code, committee_code, 
      area_code, house_name, create_user_id, 
      create_time, update_user_id, update_time, 
      addr_name)
    values (#{addrId,jdbcType=CHAR}, #{townCode,jdbcType=VARCHAR}, #{committeeCode,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=VARCHAR}, #{houseName,jdbcType=VARCHAR}, #{createUserId,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{addrName,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ehualu.data.business.addr.model.AddrInfo" >
    insert into t_addr_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="townCode != null" >
        town_code,
      </if>
      <if test="committeeCode != null" >
        committee_code,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="houseName != null" >
        house_name,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="addrName != null" >
        addr_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        #{addrId,jdbcType=CHAR},
      </if>
      <if test="townCode != null" >
        #{townCode,jdbcType=VARCHAR},
      </if>
      <if test="committeeCode != null" >
        #{committeeCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null" >
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addrName != null" >
        #{addrName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ehualu.data.business.addr.model.AddrInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_addr_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_addr_info
    <set >
      <if test="record.addrId != null" >
        addr_id = #{record.addrId,jdbcType=CHAR},
      </if>
      <if test="record.townCode != null" >
        town_code = #{record.townCode,jdbcType=VARCHAR},
      </if>
      <if test="record.committeeCode != null" >
        committee_code = #{record.committeeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCode != null" >
        area_code = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.houseName != null" >
        house_name = #{record.houseName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=CHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addrName != null" >
        addr_name = #{record.addrName,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_addr_info
    set addr_id = #{record.addrId,jdbcType=CHAR},
      town_code = #{record.townCode,jdbcType=VARCHAR},
      committee_code = #{record.committeeCode,jdbcType=VARCHAR},
      area_code = #{record.areaCode,jdbcType=VARCHAR},
      house_name = #{record.houseName,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=CHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      addr_name = #{record.addrName,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>